# **Classifying Famous People Using Natural Language Processing**

**Deep Dive Data Science Project 4**

---
Ken Gustafson 3/30/2021

## Problem Definition

We desire to determine the 10 "closest" people, in a Natural Language Processing sense, to a chosen famous person, given a corpus of individual summaries. 

We also determine the nearness ranking of the 10 nearest neighbors based on their Wikipedia pages, along with examining each one's sentiment.

## Data Collection

In [4]:
# Here we import the necessary packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
!python -m textblob.download_corpora
from textblob import TextBlob
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package conll2000 to /root/nltk_data...
[nltk_data]   Package conll2000 is already up-to-date!
[nltk_data] Downloading package movie_reviews to /root/nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!
Finished.

In [5]:
# Inital data were sourced from the instructor.  It contains summaries related to famous people.
# File Path Settings

file_path = '/content/drive/MyDrive/Data Science Student Material/Project 4 - Cohort 4/Data/project_4.csv'

data = pd.read_csv(file_path)

In [6]:
# We examine the first few lines of data to ascertain feature names and associated columns.

data.head()

                                                 URI  ...                                               text
0        <http://dbpedia.org/resource/Digby_Morrell>  ...  digby morrell born 10 october 1979 is a former...
1       <http://dbpedia.org/resource/Alfred_J._Lewy>  ...  alfred j lewy aka sandy lewy graduated from un...
2        <http://dbpedia.org/resource/Harpdog_Brown>  ...  harpdog brown is a singer and harmonica player...
3  <http://dbpedia.org/resource/Franz_Rottensteiner>  ...  franz rottensteiner born in waidmannsfeld lowe...
4               <http://dbpedia.org/resource/G-Enka>  ...  henry krvits born 30 december 1974 in tallinn ...

[5 rows x 3 columns]

In [7]:
# Examine the data's shape to know how large the set is, and a particular observation

data.shape

(42786, 3)

In [8]:
data.iloc[1234]['text']

'david brian cone born january 2 1963 nicknamed coney is an american former major league baseball mlb pitcher and current color commentator for the new york yankees on the yes network a third round draft pick of the kansas city royals in 1981 mlb he made his mlb debut in 1986 during a 17year baseball career he pitched until 2003 for five different teams standing 6 1 73 inches 1900 mm tall and weighing 180 pounds 82 kg cone threw righthanded and batted lefthandedcone pitched the sixteenth perfect game in baseball history in 1999 on the final game of the 1991 regular season he struck out 19 batters tied for secondmost ever in a game the 1994 cy young award winner he was a fivetime allstar and led the major leagues in strikeouts each season from 199092 a twotime 20 gamewinner he set the mlb record for most years between 20win seasons with 10 he was a member of five world series championship teams 1992 with the toronto blue jays and 1996 1998 1999 and 2000 with the new york yankees his 83 career postseason record came over 21 games and 111 innings pitched with an earned run average era of 380 in world series play his era was 212he is the subject of the book a pitchers story innings with david cone by roger angell his fans are known as coneheads he resides in stamford connecticut'

## Data Cleaning

In [9]:
testimonial = TextBlob('expensive. free.')

testimonial.sentiment

Sentiment(polarity=-0.04999999999999999, subjectivity=0.75)

In [10]:
zen = TextBlob('Explicit is highly different than implicit. Beautiful is different than ugly. Simple is different than complex.')

In [11]:
for sentence in zen.sentences:
    print(sentence.sentiment)

Sentiment(polarity=0.0, subjectivity=0.6)
Sentiment(polarity=0.05000000000000001, subjectivity=0.8666666666666667)
Sentiment(polarity=-0.09999999999999999, subjectivity=0.4523809523809524)

In [12]:
dc = TextBlob(data.iloc[1234]['text'])

In [13]:
dc.sentiment

Sentiment(polarity=0.013383838383838376, subjectivity=0.39615939615939616)

In [14]:
len(dc.sentences)

1

## Exploratory Data Analysis

### Plots

## Data Processing

In [15]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(data['text'])
np.shape(train_data.data)

NameError: ignored

In [ ]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

## Data Visualizations

## Conclusions

- Naive Bayes is an appropriate methodology for this dataset
- Ample data to train model
- Different results for biased (all) data vs. unbiased (equalized) data
- Equalized accuracy: 80.3%
- Model is stable (low accuracy variance)
- Symmetric confusion matrix indicates robustness