<a href="https://colab.research.google.com/github/kengustafson/DeepDive-DataScience/blob/main/Project_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mastery (er, Fundamentals) of SQL**

**Deep Dive Data Science Project 5**

---
Ken Gustafson 4/6/2021

## Problem Definition

We desire to explore open datasets for possible insight.

Output to be produced: Insights and some useful plots

## Data Collection

In [ ]:
# Here we import the necessary packages

from google.cloud import bigquery
from google.colab import auth
import pandas as pd
import plotly.express as px

auth.authenticate_user()

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Image

Additional criteria:

In [ ]:
# Data was sourced from Google BiqQuery open data sets.
# Project Settings

project_id = 'ddds-project5'
client = bigquery.Client(project=project_id)

project_dataset = client.dataset('traffic_safety', project = 'dataflix-public-datasets')
traffic_safety = client.get_dataset(project_dataset)

WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable

## Initial Exploration

Data 360 Dataset - https://console.cloud.google.com/marketplace/product/dataflix-public-datasets/data-360-traffic-and-safety

Dataset documentation: https://www.dataflix.com/data360/docs/

In [ ]:
# Examine available tables

tables = list(client.list_tables(traffic_safety))
print([table.table_id for table in tables])

['accident', 'cevent', 'damage', 'distract', 'drimpair', 'drugs', 'factor', 'maneuver', 'nmcrash', 'nmimpair', 'nmprior', 'person', 'safetyeq', 'vehicle', 'vevent', 'violatn', 'vision', 'vsoe']

In [ ]:
# Get table reference for accidents, check schema

table_ref = traffic_safety.table('accident')
accident = client.get_table(table_ref)
accident.schema

[SchemaField('L_YEAR', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('STATE', 'STRING', 'NULLABLE', None, ()),
 SchemaField('ST_CASE', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('VE_TOTAL', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('VE_FORMS', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('PVH_INVL', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('PEDS', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('PERNOTMVIT', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('PERMVIT', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('PERSONS', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('COUNTY', 'STRING', 'NULLABLE', None, ()),
 SchemaField('CITY', 'STRING', 'NULLABLE', None, ()),
 SchemaField('DAY', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('MONTH', 'STRING', 'NULLABLE', None, ()),
 SchemaField('YEAR', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('WEEK_DAY', 'STRING', 'NULLABLE', None, ()),
 SchemaField('HOUR', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('MINUTE', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('NHS', 'STRING', 'NULLABLE', None, ()),
 SchemaField('RUR_URB', 'STRING', 'NULLABLE', None, ()),
 SchemaField('FUNC_SYS', 'STRING', 'NULLABLE', None, ()),
 SchemaField('RD_OWNER', 'STRING', 'NULLABLE', None, ()),
 SchemaField('ROUTE', 'STRING', 'NULLABLE', None, ()),
 SchemaField('TWAY_ID', 'STRING', 'NULLABLE', None, ()),
 SchemaField('TWAY_ID2', 'STRING', 'NULLABLE', None, ()),
 SchemaField('MILEPT', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('LATITUDE', 'FLOAT', 'NULLABLE', None, ()),
 SchemaField('LONGITUD', 'FLOAT', 'NULLABLE', None, ()),
 SchemaField('SP_JUR', 'STRING', 'NULLABLE', None, ()),
 SchemaField('HARM_EV', 'STRING', 'NULLABLE', None, ()),
 SchemaField('MAN_COLL', 'STRING', 'NULLABLE', None, ()),
 SchemaField('RELJCT1', 'STRING', 'NULLABLE', None, ()),
 SchemaField('RELJCT2', 'STRING', 'NULLABLE', None, ()),
 SchemaField('TYP_INT', 'STRING', 'NULLABLE', None, ()),
 SchemaField('WRK_ZONE', 'STRING', 'NULLABLE', None, ()),
 SchemaField('REL_ROAD', 'STRING', 'NULLABLE', None, ()),
 SchemaField('LGT_COND', 'STRING', 'NULLABLE', None, ()),
 SchemaField('WEATHER1', 'STRING', 'NULLABLE', None, ()),
 SchemaField('WEATHER2', 'STRING', 'NULLABLE', None, ()),
 SchemaField('WEATHER', 'STRING', 'NULLABLE', None, ()),
 SchemaField('SCH_BUS', 'STRING', 'NULLABLE', None, ()),
 SchemaField('RAIL', 'STRING', 'NULLABLE', None, ()),
 SchemaField('NOT_HOUR', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('NOT_MIN', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('ARR_HOUR', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('ARR_MIN', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('HOSP_HR', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('HOSP_MN', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('CF1', 'STRING', 'NULLABLE', None, ()),
 SchemaField('CF2', 'STRING', 'NULLABLE', None, ()),
 SchemaField('CF3', 'STRING', 'NULLABLE', None, ()),
 SchemaField('FATALS', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('DRUNK_DR', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('DATE_PARTITION', 'DATE', 'NULLABLE', None, ())]

## Exploratory Data Analysis

In [ ]:
dataset = 'dataflix-public-datasets.traffic_safety'

In [ ]:
# Check a few entries in Accident table

query = f""" 
        SELECT *
        FROM `{dataset}.accident`
        WHERE L_YEAR = 2018 OR L_YEAR = 2017
        LIMIT 5
        """

df = client.query(query).to_dataframe()
df

   L_YEAR           STATE  ST_CASE  ...  FATALS  DRUNK_DR  DATE_PARTITION
0    2017  North Carolina   370899  ...       1         0      2017-01-01
1    2017        Virginia   510061  ...       2         0      2017-01-01
2    2017           Texas   481854  ...       3         0      2017-01-01
3    2017         Indiana   180496  ...       1         0      2017-01-01
4    2017     Mississippi   280317  ...       2         1      2017-01-01

[5 rows x 54 columns]

Examine how many Accident records there are

In [ ]:
query = f"""
        SELECT COUNT(*)
        FROM `{dataset}.accident`
        """

df = client.query(query).to_dataframe()
df.head()

       f0_
0  1666447

What time/years are included...

In [ ]:
query = f"""
        SELECT DISTINCT YEAR
        FROM `{dataset}.accident`
        ORDER BY YEAR DESC
        """

df = client.query(query).to_dataframe()
print(df['YEAR'].to_list())

[2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 97, 96, 95, 94, 93, 92, 91, 90, 88, 87, 86, 85, 84, 83, 82, 81, 80, 78]

There are two entry types for YEAR, 2-digits (90) and 4-digits (1990), so any YEAR query may have to account for this.

Let's see data for New Mexico

In [ ]:
query = f"""
        SELECT COUNT(*) AS Num_of_accidents, YEAR AS Year
        FROM `{dataset}.accident`
        WHERE STATE = 'New Mexico'
        GROUP BY YEAR
        ORDER BY YEAR ASC
        """

accidents_per_year = client.query(query).to_dataframe()

Turns out BigQuery is smart enough to aggregate 2-digit years with 4-digit years

In [ ]:
accidents_per_year.head()

   Num_of_accidents  Year
0               466  1975
1               461  1976
2               567  1977
3               588  1978
4               555  1979

Which month are the most accidents in?

In [ ]:
query = f"""
        SELECT COUNT(*) AS Cnt, MONTH
        FROM `{dataset}.accident`
        GROUP BY MONTH
        ORDER BY Cnt DESC
        LIMIT 1
        """

month_most = client.query(query).to_dataframe()
month_most.head()

      Cnt   MONTH
0  157789  August

Where was the southern most accident?

In [ ]:
query = f"""
        SELECT STATE, LATITUDE, LONGITUD   # HA, LONGITUD
        FROM `{dataset}.accident`
        WHERE LATITUDE = (
            SELECT MIN(LATITUDE)
            FROM `{dataset}.accident`)
        """

southern_most = client.query(query).to_dataframe()
southern_most

         STATE   LATITUDE   LONGITUD
0  Puerto Rico  18.375736 -66.147717

How many vehicles have been involved in accidents in New Mexico?

In [ ]:
query = f"""
        SELECT SUM(VE_TOTAL) AS Total_Veh, STATE
        FROM `{dataset}.accident`
        WHERE STATE = 'New Mexico'
        GROUP BY STATE
        """

total_veh = client.query(query).to_dataframe()
total_veh

   Total_Veh       STATE
0       6754  New Mexico

### Plots

Let's see how the number of accidents in New Mexico has changed over the years.

In [ ]:
fig = px.line(accidents_per_year, y ='Num_of_accidents', x='Year')
fig.show()

How has the average number of fatalities per accident for Bernalillo County changed?

In [ ]:
query = f"""
        SELECT YEAR, AVG(FATALS) AS Avg_Fatals_per_Accident
        FROM `{dataset}.accident`
        WHERE STATE LIKE '% Mexico' AND COUNTY = 'BERNALILLO (1)'
        GROUP BY YEAR
        ORDER BY YEAR ASC
        """

bern_fat_per_year = client.query(query).to_dataframe()

In [ ]:
fig = px.line(bern_fat_per_year, y ='Avg_Fatals_per_Accident', x='YEAR')
fig.show()

What accident involved the most vehicles?

In [ ]:
query = f"""
        SELECT VE_TOTAL, STATE, YEAR, MONTH, DAY, HOUR
        FROM `{dataset}.accident`
        WHERE VE_TOTAL = (
            SELECT MAX(VE_TOTAL)
            FROM `{dataset}.accident`)
        """

most_vehicles = client.query(query).to_dataframe()
most_vehicles

   VE_TOTAL       STATE  YEAR     MONTH  DAY  HOUR
0        92  California  2007  November    3     7

https://www.cbsnews.com/news/100-car-pileup-kills-2-in-california/

Which accident had the most fatalities?

In [ ]:
query = f"""
        SELECT FATALS, STATE, YEAR, MONTH, DAY, HOUR
        FROM `{dataset}.accident`
        WHERE FATALS = (
            SELECT MAX(FATALS)
            FROM `{dataset}.accident`)
        """

most_fatalities = client.query(query).to_dataframe()
most_fatalities

   FATALS       STATE  YEAR MONTH  DAY  HOUR
0      29  California  1976   May   21    10

https://en.wikipedia.org/wiki/Yuba_City_bus_disaster

How many bicyclists were in accidents, per state, over the years 2017 and 2018?

In [ ]:
query = f"""
        SELECT a.STATE, COUNT(*) AS Bicyclists
        FROM `{dataset}.accident` AS a
        INNER JOIN `{dataset}.person` AS p
        ON a.STATE = p.STATE AND a.ST_CASE = p.ST_CASE AND a.L_YEAR = p.L_YEAR
        WHERE p.PER_TYP = 'Bicyclist' AND a.L_YEAR BETWEEN 2017 AND 2018
        GROUP BY a.STATE
        ORDER BY Bicyclists DESC
        """

bicy_per_state = client.query(query).to_dataframe()
bicy_per_state

                   STATE  Bicyclists
0                Florida         297
1             California         286
2                  Texas         133
3               New York          78
4                Arizona          54
5              Louisiana          51
6               Illinois          51
7         North Carolina          47
8                Georgia          46
9               Michigan          46
10        South Carolina          42
11                  Ohio          41
12          Pennsylvania          39
13              Colorado          38
14               Indiana          36
15            New Jersey          36
16            Washington          30
17              Virginia          25
18              Oklahoma          23
19           Puerto Rico          21
20              Kentucky          20
21                Oregon          19
22                Nevada          19
23             Tennessee          17
24               Alabama          16
25              Maryland          16
26         Massachusetts          15
27           Mississippi          14
28                  Iowa          13
29             Minnesota          13
30            New Mexico          13
31             Wisconsin          12
32              Delaware          11
33              Missouri          11
34                Kansas          10
35                  Utah           9
36         West Virginia           8
37                Hawaii           8
38              Arkansas           7
39                 Idaho           5
40  District of Columbia           5
41                 Maine           4
42          North Dakota           4
43         New Hampshire           4
44           Connecticut           4
45          Rhode Island           3
46               Montana           3
47              Nebraska           3
48                Alaska           1

In [ ]:
fig = px.bar(bicy_per_state, x='STATE', y='Bicyclists', color='Bicyclists',
             labels={'Bicyclists':'Bicyclist-involved Accidents'})
fig.show()

## Conclusions

- SQL is appropriate for retrieving data from an RDB
- Ample open datasets to chose from
- Different insights in each table
- Accidents suck
- Plotly Express is AWESOME!